<li [ngClass]="{
    'list-group-item'        : true,
    'list-group-item-success': loveIts > 0,
    'list-group-item-danger' : loveIts < 0
  }">
  <h1> {{ title }}
    <span style="position: absolute; right: 20px;">
      créé le:
      {{ createAt | date:"dd/MM/yyyy"}}
    </span>
  </h1>






  <h3> {{ content }}</h3>

  <button class="btn btn-success" (click)="onLoveIt()">Love its!</button>
  &nbsp;
  <button class="btn btn-danger" (click)="onDontLoveIt()">Don't love its!</button>
  &nbsp;
  <button class="btn btn-warning pull-right" (click)="onDeletePost(post)">Supprimer</button>
</li>
&nbsp;
