<li [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': [loveIts] > [dontLoveIts] && loveIts > 0,
    'list-group-item-danger': [dontLoveIts] > [loveIts] && dontLoveIts > 0
  }">
  <h3>
    {{ title }}
    <span style="position: absolute; right: 20px" >
      créé le:
      {{ createAt | date: "dd/MM/yyyy "}}
    </span>
  </h3>
  <p>{{ content }}</p>
  <button class="btn btn-success" (click)="onLove()">Love its!</button>&nbsp;
  <button class="btn btn-danger" (click)="onDontLove()">Don't love its!</button>

  <!-- Compteurs de loveIts et dontLoveIts -->
  <span style="float:right">
        &nbsp;
          <button>{{ loveIts }}</button>
        &nbsp;
          <button>{{ dontLoveIts }}</button>
  </span>

  <!--   Ajout du bouton de suppression du post (class warning: Orange)-->
  <button
          type="button" class= "btn-warning pull-right"
          (click)="onDeletePost()">Supprimer Post
  </button>

</li>&nbsp;
