<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': [loveIts]>[dontLoveIts] && loveIts> 0,
    'list-group-item-danger': [dontLoveIts]>[loveIts] && dontLoveIts> 0
  }">
  <h3>
    {{ title }}
    <span style="position: absolute; right: 20px;">
      créé le:
      {{ create_at | date: "dd/MM/yyyy à HH:mm:ss" }}
    </span>
  </h3>
  <p>{{ content }}</p>
  <button class="btn btn-success" (click)="onLove()">Love its!</button>&nbsp;
  <button class="btn btn-danger" (click)="onDontLove()">Don't love its!</button>

  <span style="position: absolute; right: 20px">
    <button>{{ loveIts }}</button>&nbsp;
    <button>{{ dontLoveIts }}</button>
  </span>
</li>
